{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  <section class="container project">
    <article>
      <header>
        <div class="project-title">
          <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
        <br>
        <div class="project-meta">
          <div class="date">
            <span class="posted-on" style="margin-right: 10px;">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{   i18n "reading_time" .ReadingTime }}
            </span>
          </div>
          {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>
      {{ if .HasShortcode "github_readme" }}
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
      {{ end }}
      <div class="project-content">
        {{ if .Params.featuredImage }}
          <img src="{{ .Params.featuredImage | relURL }}" alt="Featured image"/>
        {{ end }}
        {{ .Content }}
      </div>

      <footer>
        
      </footer>
    </article>
  </section>
{{ end }}